.hero {
    position: relative;
    color: var(--color-white);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: var(--color-background, #111) url('assets/images/ui/background-texture.jpg') center/cover no-repeat;
    color: var(--color-white);
}

/* --- Background --- */

.hero-background {
    position: absolute;
    width: 100vw;
    height: 102vh;
    /**/
    inset: 0; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }


  .hero-background > .background-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

  .hero-background > .background-text {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background-color: var(--color-black);
    color: var(--color-green);
    font-weight: 900;
    font-size: clamp(10rem, 20vw, 20rem);
    text-align: center;
    mix-blend-mode: multiply;
    user-select: none;
    transition: color 0.3s ease;
    margin-top: -150px;
  }


  /* --- zigzag--- */
    .zigzag-section svg{
        margin-top: 385px; 
        margin-bottom: 50px;
        transition: transform 0.3s ease-out;
    }
    #zigzag-svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

#zigzag-path {
    fill: none;     
    stroke: #ffffff;  
    stroke-width: 0.6;  
    stroke-opacity: 0.3;
}

#moving-shape {
    fill: var(--color-secondary-text);
}

/* --- Foreground --- */
.hero-foreground {
    position: relative;
    z-index: 3; 
    width: 100%;
    height: 100%;
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center; 
    gap: 30px;
}

/* --- Side Nav --- */
.side-nav {
    justify-self: start;
    align-self: center;
    margin-top: -150px;
}

.side-nav ul {
    list-style: none;
}

.side-nav li {
    margin-bottom: 25px;
}

.side-nav li a {
    color: var(--color-secondary-text);
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    position: relative;
    padding-left: 25px; 
}


.side-nav li.active a {
    color: var(--color-white); 
    position: relative;
}

.side-nav li.active a::before {
    background-color: var(--hero-accent-color);
    width: 100px;
}

.side-nav li:not(.active) a:hover {
    color: var(--color-white);
}
.side-nav li:not(.active) a:hover::before {
    background-color: var(--color-secondary-text); 
    width: 100px;
}

.side-nav li a::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 42%;
    transform: translateY(-50%);
    width: 100px !important;
    height: 2px;
    background-color: transparent; 
    transition: background-color 0.3s ease, width 0.3s ease;
}

.side-nav li.active a {
    color: var(--color-white);
}

.side-nav li.active a::before {
    background-color: var(--color-dynamic); /* Use dynamic color */
    width: 100px !important;
}

.side-nav li:not(.active) a:hover {
    color: var(--color-white);
}
.side-nav li:not(.active) a:hover::before {
    background-color: var(--color-secondary-text);
    width: 100px;
}


/* --- Center Content --- */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    perspective: 1000px;
    margin-top: -150px; 
}

.product-title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-white);
    margin-bottom: 100px; 
    text-align: center;
}

.product-image-container {
    position: relative;
    margin-top: -5vh; 
    margin-bottom: 40px;
    transform-style: preserve-3d;
    z-index: 5;
}

.product-image-container {
    transform: rotate(-30deg);
}

.product-shoe {
    display: block;
    position: relative; 
    max-width: 100%;
    width: clamp(300px, 50vw, 700px); 
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0px 20px 30px rgba(0,0,0,0.4));
    z-index: 5;
}

.cta-button {
    background-color: var(--color-black);
    border: 1px solid var(--color-secondary-text);
    color: var(--color-white);
    padding: 10px 30px;
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-top: 40px;
}

.cta-button:hover {
    background-color: var(--color-dynamic);
    border-color: var(--color-dynamic);
    color: var(--color-dark);
}

/* --- Right Info --- */
.right-info {
    justify-self: end;
    align-self: center; 
    margin-top: -150px;
}

.hero-foreground .product-details {
    position: relative;
    padding-right: 10px;
    border-right: 2px solid var(--color-dynamic);
    transition: border-color 0.3s ease;
}

.hero-foreground .product-details p {
    font-size: 0.9rem;
    color:  var(--color-white);
    text-transform: uppercase;
    margin-bottom: 5px;
    display: flex;
    font-weight: 700;
}

.hero-foreground .product-details span {
    display: block; 
    color: var(--color-secondary-text);
    font-weight: 700;
    font-size: 1rem;
    padding-right: 10px;
}

/* --- Utility Icons --- */
.utility-icons {
    position: fixed;
    top: 250px;
    right: 0px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.utility-icons a{
background-color: var(--color-secondary-text);
padding: 5px 10px;
}

.utility-icons a:hover {
    background-color: var(--color-green);
}

.utility-icons a:last-child {
margin-top: -10px;
}

.utility-icons a img{
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0.7;
    filter: invert(98%) sepia(5%) saturate(2%) hue-rotate(171deg) brightness(123%) contrast(100%);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.utility-icons a:hover img {
    opacity: 1;
}



/* --- Responsive --- */

@media (max-width: 1500px) {
    .zigzag-section svg{
      transform: translateY(-50px);
    }

    .trend-product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
    justify-items: center; 
    justify-content: initial;
    flex-wrap: wrap; 
    padding-left: 20px;
    padding-right: 20px;
}

.trend-product-card {
    padding: 0;
    scroll-snap-align: none; 
    flex-shrink: initial;
    width: 100%; 
    max-width: 300px;
    margin-top: 75px;
}

.trend-section-title {
    margin-bottom: 120px;
}
  }

@media (max-width: 900px) {

    .zigzag-section svg{
        transform: translateY(-120px);
      }

    .hero-foreground {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto; 
        padding: 30px;
        text-align: center;
    }
    .side-nav , .right-info, .center-content {
        margin-top: 0px;
    } 

    .side-nav, .right-info, .utility-icons {
        justify-self: center;
        align-self: start;
        margin-bottom: 30px;
    }
    .side-nav ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .side-nav li { margin-bottom: 10px; }
    .side-nav li a::before { display: none; } 
    .side-nav li a { padding-left: 0; }
    .right-info { margin-top: 20px; }
    .product-details { border-left: none; padding-left: 0; text-align: center; }
    .utility-icons {
        top: 250px;
        gap: 15px;
    }
    .utility-icons a {
        padding: 5px 5px;
    }
    .background-text {
        font-size: clamp(4rem, 18vw, 12rem);
    }

    .center-content {
        margin-top: -100px; 
    }
    .product-image-container { margin-top: 0; }
    .product-title {
        margin-bottom: 100px;
    }
    .hero-foreground .product-details {
        position: relative;
        padding-right: 10px;
        border-bottom: 2px solid var(--color-dynamic);
        border-right: 0;
        transition: border-color 0.3s ease;
    }

    .side-nav li a:hover {
        color: var(--color-dynamic);
    }

    #zigzag-path {
        stroke-width: 0.6;  
        stroke-opacity: 1;
    }

}

@media (max-width: 690px) {
    .zigzag-section svg{
        transform: translateY(-150px);
      }

    .hero-background > .background-text {
        font-size: clamp(5rem, 15vw, 15rem);
    }
    
    .product-title {
        font-size: 2.5rem;
    }

    .trend-product-grid {
        grid-template-columns: 1fr;
        gap: 60px; 
        padding-left: 20px;
        padding-right: 20px;
    }

    .trend-product-card {
        padding: 0; 
        width: 100%; 
        max-width: 300px;
    }

     .tend-product-shoe img {
        width: clamp(180px, 60vw, 280px);
    }

    .trend-section-title {
        margin-bottom: 100px;
    }

    .tend-product-shoe div {
        bottom: -20px;  
        right: 100px; 
        width: 300px;
    }
  }


  @media (max-width: 416px) {
    .hero-background > .background-text {
        font-size: clamp(5rem, 15vw, 15rem);
        text-wrap: nowrap;
    }

    .side-nav li a {
        font-size: 0.6rem;
    }

    .side-nav ul {
        gap:10px;
      }

      .tend-product-shoe div {
        bottom: 0px;  
        right: 100px; 
        width: 250px;
    }
  }