/* --- Trend Section --- */

.trend-section {
    background-color: var(--color-green);
    padding: 100px 0;
    position: relative;
}

.trend-section-title {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-self: center;
    align-self: center;
    position: relative;
    margin-bottom: 180px;
}

.trend-section-title p{
    position: absolute;
    font-size: 6rem;
    font-weight: 900;
    color: var(--color-green-light);
    margin-top: -45px;
}

.trend-section-title h2{
    color: var(--color-black);
    z-index: 3;
    font-size: 1.7rem;
}


.trend-product-grid  {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    padding: 0 20px; 
}

.trend-product-card {
    padding: 0 40px; 
    flex-shrink: 0;
}

.tend-product-shoe {
    color: var(--color-black);
    position: relative;
    display: block; 
    text-decoration: none;
}


.tend-product-shoe img {
    display: block;
    position: relative; 
    max-width: 100%;
    width: clamp(200px, 30vw, 300px); 
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0px 20px 30px rgba(0,0,0,0.4));
    margin: 0 auto;
    z-index: 2;
}

.tend-product-shoe p {
    font-size: 1rem;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;
    position: relative;
    z-index: 2;
}


.tend-product-shoe div {
    position: absolute;
    bottom: -30px;  
    right: 100px; 
    width: 340px;
    height: 1px;
    background-color: var(--color-green-light) !important;
    transform: rotate(60deg);
    transform-origin: bottom right;
    z-index: 1; 
}

/* --- Card Products Section --- */
.products-grid-section {
    display: flex;
}


.products-card-more-section {
    position: relative;
    width: clamp(300px, 50vw, 700px);
}

.products-card-more-section .card-img {
    display: block;
    position: relative; 
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.products-card-more-section .text-card {
    position: absolute;
    z-index: 3;
    max-width: 100%;
}

.products-card-more-section #text-card-1 {
    bottom: 5%;
}

.products-card-more-section #text-card-2 {
    top: 5%;
}

.products-card-more-section .text-card span {
    color: var(--color-white);
    font-size: 4rem;
    font-weight: 900;
    opacity: 0.1;
    padding-right: 3.5rem;
}

.products-card-more-section .text-card .text-more {
    display: flex;
    text-decoration: none;
}
.products-card-more-section .text-card .text-more h3{
    font-size: 3rem;
    color: var(--color-green);
    font-weight: 700;
    background-color: var(--color-black);
    padding: 10px;
    margin-bottom: 0px;
    transition: all 0.5s ease;
}

.products-card-more-section .text-card .text-more h3:hover {
    color: var(--color-white);
}

.products-card-more-section .text-card .text-more img{
    width: 50px;
    margin-right: 0.5rem;
}

.products-card-more-section #text-card-1 .text-more img{
    filter: invert(87%) sepia(42%) saturate(827%) hue-rotate(19deg) brightness(90%) contrast(90%);
}

@media (max-width: 1500px) {

    .trend-product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
    justify-items: center; 
    justify-content: initial;
    flex-wrap: wrap; 
    padding-left: 20px;
    padding-right: 20px;
}

    .trend-product-card {
        padding: 0;
        scroll-snap-align: none; 
        flex-shrink: initial;
        width: 100%; 
        max-width: 300px;
        margin-top: 75px;
    }

    .trend-section-title {
        margin-bottom: 120px;
    }
}

@media (max-width: 900px) {
    .trend-product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 30px;
        justify-items: center; 
        justify-content: initial;
        flex-wrap: wrap; 
        padding-left: 20px;
        padding-right: 20px;
    }

    .trend-product-card {
        padding: 0;
        scroll-snap-align: none; 
        flex-shrink: initial;
        width: 100%; 
        max-width: 300px;
        margin-top: 75px;
    }

    .tend-product-shoe div {
        bottom: -10px;  
        right: 100px; 
        width: 250px;
    }

    .trend-section-title {
        margin-bottom: 80px;
    }
}


@media (max-width: 690px) {
    .trend-product-grid {
        grid-template-columns: 1fr;
        gap: 60px; 
        padding-left: 20px;
        padding-right: 20px;
    }

    .trend-product-card {
        padding: 0; 
        width: 100%; 
        max-width: 300px;
    }

     .tend-product-shoe img {
        width: clamp(180px, 60vw, 280px);
    }

    .trend-section-title {
        margin-bottom: 100px;
    }

    .tend-product-shoe div {
        bottom: -20px;  
        right: 100px; 
        width: 300px;
    }
  }


  @media (max-width: 416px) {
      .tend-product-shoe div {
        bottom: 0px;  
        right: 100px; 
        width: 250px;
    }
  }